.detailsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.col {
  max-width: 400px;
  margin: 15px;
  height: auto;
}

.heroImage {
  border-radius: 15px;
}

.heroDetails {
  font-size: 1, 5rem;
}

.firstLine {
  margin-top: 0;
}
